//! **************************************************************************
// Written by: Map P.28xd on Wed Oct 11 11:05:35 2017
//! **************************************************************************

SCHEMATIC START;
COMP "Sel" LOCATE = SITE "A7" LEVEL 1;
COMP "A" LOCATE = SITE "P11" LEVEL 1;
COMP "B" LOCATE = SITE "L3" LEVEL 1;
COMP "Y" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

