//! **************************************************************************
// Written by: Map P.28xd on Wed Nov 15 10:48:16 2017
//! **************************************************************************

SCHEMATIC START;
COMP "ENABLE" LOCATE = SITE "A7" LEVEL 1;
COMP "Q<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "G1" LEVEL 1;
COMP "RESET" LOCATE = SITE "G12" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

