//! **************************************************************************
// Written by: Map P.28xd on Thu Oct 19 20:04:33 2017
//! **************************************************************************

SCHEMATIC START;
COMP "output_led0" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

