//! **************************************************************************
// Written by: Map P.28xd on Wed Nov 08 11:27:46 2017
//! **************************************************************************

SCHEMATIC START;
COMP "ENABLE" LOCATE = SITE "A7" LEVEL 1;
COMP "Q" LOCATE = SITE "M5" LEVEL 1;
COMP "RESET" LOCATE = SITE "G12" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

