//! **************************************************************************
// Written by: Map P.28xd on Wed Dec 13 12:15:07 2017
//! **************************************************************************

SCHEMATIC START;
COMP "Catodo<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "Catodo<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "Catodo<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "Catodo<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "Catodo<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "Catodo<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "Sel_ALU<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "Sel_ALU<1>" LOCATE = SITE "G3" LEVEL 1;
COMP "SalFZ" LOCATE = SITE "D12" LEVEL 1;
COMP "AddressROM<0>" LOCATE = SITE "F3" LEVEL 1;
COMP "AddressROM<1>" LOCATE = SITE "E2" LEVEL 1;
COMP "AddressROM<2>" LOCATE = SITE "N3" LEVEL 1;
COMP "SalCOP<0>" LOCATE = SITE "B5" LEVEL 1;
COMP "SalCOP<1>" LOCATE = SITE "B7" LEVEL 1;
COMP "Anodo<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "Instruction<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "Anodo<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "Instruction<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "CW0" LOCATE = SITE "C11" LEVEL 1;
COMP "CW1" LOCATE = SITE "M4" LEVEL 1;
COMP "Anodo<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "Instruction<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "CW2" LOCATE = SITE "A7" LEVEL 1;
COMP "CW3" LOCATE = SITE "P11" LEVEL 1;
COMP "Anodo<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "Instruction<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "CW4" LOCATE = SITE "L3" LEVEL 1;
COMP "CW5" LOCATE = SITE "K3" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "Instruction<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "Instruction<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "RESET" LOCATE = SITE "G12" LEVEL 1;
COMP "Instruction<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "Instruction<7>" LOCATE = SITE "G1" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "Catodo<0>" LOCATE = SITE "M12" LEVEL 1;
SCHEMATIC END;

