//! **************************************************************************
// Written by: Map P.28xd on Wed Dec 13 10:17:51 2017
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

